name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  phpunit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2, 8.1, 8.0]

    name: PHP${{ matrix.php }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php }}-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer install
          composer dump

      # - name: Install docker
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y moby-engine moby-cli containerd.io

      # - name: Run test phpunit
      #   run: composer test

      - name: Run test phpunit
        run: echo "TODO"
